.game-board {
    /* border: solid 1px; */
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 150px;

}

.board-cells{
    border: solid 1px;
    background-color: lightgray;
}


.cell{
    width: 100px;
    height: 100px;
    border: solid 1px;
    text-align: center;
}

.mine {
    /* background-color: lightblue; */
    width: 90px;
    height: 90px;
    /* background-color: lightblue; */
}

.neighbors {
    background-color: lightblue;
}

.footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    left: 0;
    font-size: 1.5rem;
    background-color: rgb(62, 176, 214); 
    color: #fff;           
    text-align: center;    
    padding: 5px;      
}

.no-mines-around {
    background-color: gray;
}